@font-face {
  font-family: "Exo2-Medium";
  src: url(../../assets/fonts/PT-sans/Exo_2/static/Exo2-Medium.ttf);
}
@font-face {
  font-family: "Exo2-SemiBold";
  src: url(../../assets/fonts/PT-sans/Exo_2/static/Exo2-SemiBold.ttf);
}
@font-face {
  font-family: "PTSans-Regular";
  src: url(../../assets/fonts/PT-sans/PT_Sans/PTSans-Regular.ttf);
}
